body {
    padding: 1rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul#list-youtube {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

ul {
    list-style-type: disc;
}

#list-youtube li {
    max-width: 63%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    position: inherit;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}

li img {
    min-width: 17rem;
}

.images-fruits {
    display: inline-flex;
}

.images-fruits  div {
    width: 5.2rem;
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
img {
    width: 5rem;
}

.images-fruits a {
    width: 6rem;
}

.selectedImage {
    border: .05rem solid deepskyblue;
}
iframe{
    margin-bottom: 1rem;
}